@using Microsoft.AspNetCore.Identity

<ul class="navbar-nav">
    @if (User.Identity.IsAuthenticated)
    {
        <li class="nav-item">
            <a class="nav-link text-dark" href="/Profile/Index" title="Manage">Merhaba @User.Identity.Name!</a>
        </li>
        <li class="nav-item">
            <a href="/Account/LogOut" class="nav-link btn btn-link text-dark">Çıkış Yap</a>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" href="/Account/register">Kayıt Ol</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" href="/Account/login">Giriş Yap</a>
        </li>
    }
</ul>